<section class="portfolio" id="portfolio">
  <h2>MY PORTFOLIO</h2>
  <h4>A LIST OF SOME OF MY PROJECTS</h4>

  <article class="portfolio-inner" data-aos="zoom-in" data-aos-duration="1500">

    <div class="tab-head">
      <ul class="tabs">
        <li class="active tab" data-tab-target="#data-analysis">Data Analytics</li>
        <li class="tab" data-tab-target="#react">React</li>
        <li class="tab" data-tab-target="#node-js">Node.js</li>
        <li class="tab" data-tab-target="#next-js">Next.js</li>
        <!-- <li class="tab" data-tab-target="#vue-js">Vue.js</li> -->
        <li class="tab" data-tab-target="#design">Design</li>
        <li class="tab" data-tab-target="#wordpress">WordPress</li>
      </ul>
    </div>

    <div class='tab-contents'>

      <!-- THE NODE.JS PROJECTS -->
      <article id="data-analysis" data-tab-content class="tab-content active">
        <div class='data-analysis'>
          <div class="fashionbit-pic"> <img src="assets/images/Sales_data_project_1.png" /></div>

          <div class="project-buttons">
            <a href="#">
              <button disabled>
                <span class="rtext">LIVE PROJECT</span>
                <span class="rhover">COMING SOON</span>
              </button>
            </a>
            <a href="https://github.com/Uti-Akan/Data-Specialist-Salaries" target="_blank"><button>VIEW CODE</button></a>
          </div>
      
          <div class="fashionbit-text">
            <h2>Data Specialist Salaries</h2>
            <p>Explore: Includes some visuals that will help us understand the dataset (Exploratory Data Analysis).
              <li><b><u>Basic Analysis:</u></b> Includes some basic (level 1) analysis mainly focused on the most basic factors that affect the salary.</li>
              
              <li><b><u>Drill:</u></b> Contains the ratio of each skill, which represents how many rows in the dataset have a skill like Python or Excel.</li>
              <li><b><u>More Analysis:</u></b> Includes deeper analysis which visualizes some factors that affect the expected salary of a data specialist.</li>
            <br />
            <p>Some Features..</p>
            </p>

            <ul>
              <b><li>5 View pages</li></b>
              <li>Explore</li>
              <li>Basis Analysis</li>
              <li>Drill</li>
              <li>More Analysis</li>
              <li>Complex Analysis</li>
            </ul>

            <p>To get the full detail of this project then check the <a href="https://github.com/Uti-Akan/Data-Specialist-Salaries" target="_blank"><u>Read Me File</u></a> in <a href="https://github.com/Uti-Akan/Data-Specialist-Salaries" target="_blank"><u> github</u></a></p>
          </div>
      
          <div class="tags">
            <p>Power BI</p>
            <p>Python</p>
            <p>Excel</p>
            <p>R</p>
          </div>
        </div>

        <div class='fashionbit data-analysis'>
          <div class="fashionbit-pic"> <img src="assets/images/Sales_Forecast.png" /></div>

          <div class="project-buttons">
            <a href="#">
              <button disabled>
                <span class="rtext">LIVE PROJECT</span>
                <span class="rhover">COMING SOON</span>
              </button>
            </a>
            <a href="https://github.com/Uti-Akan/Sales_Forecast" target="_blank"><button>VIEW CODE</button></a>
          </div>
      
          <div class="fashionbit-text">
            <h2>Sales Forecast</h2>
            <p>This dashboard is designed to provide insights into <u>sales data and forecast future trends</u> based on historical data. It is an essential tool for businesses looking to enhance their decision-making processes with accurate <u>sales projections.</u>
            <br />
            <p>Some Features..</p>
            </p>

            <ul>
              <li>Monthly sales performance tracking</li>
              <li>Product-wise sales analysis</li>
              <li>Sales trend identification and forecasting</li>
            </ul>

            <p>To get the full detail of this project then check the <a href="https://github.com/Uti-Akan/Sales_Forecast" target="_blank"><u>Read Me File</u></a> in <a href="https://github.com/Uti-Akan/Sales_Forecast" target="_blank"><u> github</u></a></p>
          </div>
      
          <div class="tags">
            <p>PowerBI</p>
            <p>DAX</p>
            <p>Power Query</p>
            <p>Visualizations</p>
          </div>
        </div>
      </article>

      <!-- THE REACT PROJECTS -->
      <article id="react" data-tab-content class="tab-content">
        <div class='coinin'>
          <div class="coinin-pic"> <img src="assets/images/coinin-project.png" /></div>

          <div class="project-buttons">
            <a href="#">
              <button disabled>
                <span class="rtext">LIVE PROJECT</span>
                <span class="rhover">COMING SOON</span>
              </button>
            </a>
            <a href="https://github.com/Chekseng/Coinin/tree/main" target="_blank"><button>VIEW CODE</button></a>
          </div>

          <div class="coinin-text">
            <h2>COININ (Cryptocurrency Tracker)</h2>
            <p>This is a <u style="color: var(--primary-text-color)">Cryptocurrency tracking</u> website built with the <u style="color: var(--primary-text-color)">Coingecko Api</u> that gives you access to over 1000! Cryptocurrencies. Ability to check the current value your desired cryptocurrency against the value of the dollar, euros and any other fiat currency of your choice.
            <br />
            Charts and tables to give you live values of 
            <ul class='coinin-list'>
              <li>current price</li>
              <li>total supply</li>
              <li>max supply</li>
              <li>market cap rank</li>
              <li>circulating supply</li>
            </ul>
            <p>and much more...</p>
            <p>To see More details about this project, check the <a href="https://github.com/Chekseng/Coinin/blob/main/README.md" target="_blank" style="color: var(--primary-text-color)"><u>Read Me</u></a> file in <a href="https://github.com/Chekseng" target="_blank" style="color: var(--primary-text-color)"><u>github</u></a></p>
            </p>
          </div>

          <div class="tags">
            <p>React.js</p>
            <p>Styled Components</p>
            <p>Coingecko Web Api</p>
            <p>Css</p>
            <p>Chart.js</p>
            <p>React Router Dom</p>
          </div>
        </div>

        <div class='barbyn'>
          <div class="barbyn-pic"> <img src="assets/images/barbyn-project.png" /></div>

          <div class="project-buttons">
            <a href="#">
              <button disabled>
                <span class="rtext">LIVE PROJECT</span>
                <span class="rhover">COMING SOON</span>
              </button>
            </a>
            <a href="https://github.com/Chekseng/Barbyn/tree/master" target="_blank"><button>VIEW CODE</button></a>
          </div>
          
          <div class="barbyn-text">
            <h2>BARBYN</h2>
            <p>This is a consumer friendly designed website to make hair styling and grooming appointments. With the use of react, some design libraries and styling, the interface is responsive, easily accessible and client friendly.
            <br />
            <p>To see more about the development of this website, then view the <a href="https://github.com/Chekseng/Barbyn/blob/master/README.md" target="_blank"><u style="color: var(--primary-text-color)">Read Me file</u></a> on <a href="https://github.com/Chekseng/Barbyn/tree/master" target="_blank"><u style="color: var(--primary-text-color)">github</u></a></p>
            </p>
          </div>

          <div class="tags">
            <p>React.js</p>
            <p>Styled Components</p>
            <p>React Router Dom</p>
            <p>Infinite React Carousel</p>
            <p>Css</p>
          </div>
        </div>
      </article>

      <!-- THE NODE.JS PROJECTS -->
      <article id="node-js" data-tab-content class="tab-content">
        <div class='fashionbit'>
          <div class="fashionbit-pic"> <img src="assets/images/fashionbit-project.png" /></div>

          <div class="project-buttons">
            <a href="#">
              <button disabled>
                <span class="rtext">LIVE PROJECT</span>
                <span class="rhover">COMING SOON</span>
              </button>
            </a>
            <a href="https://github.com/Chekseng/FashionBit" target="_blank"><button>VIEW CODE</button></a>
          </div>
      
          <div class="fashionbit-text">
            <h2>FASHIONBIT BLOGGING WEBSITE</h2>
            <p>Fashionbit is a full blown node js <u>CRUD Application</u> with all the features ranging from <u>creating blogs, </u> <u>viewing the created blogs, editing the already existing blogs and deleting them.</u>. Other features includes <u>express-session</u> which allows tracking each user session
            <br />
            <p>Some Features..</p>
            </p>

            <ul>
              <li>Add Blog</li>
              <li>Read Blog</li>
              <li>Update Blog</li>
              <li>Delete Blog</li>
              <li>Image Upload</li>
              <li>Form Validation</li>
            </ul>

            <p>To get the full detail of this project then check the <a href="https://github.com/Chekseng/FashionBit/blob/master/README.md" target="_blank"><u>Read Me File</u></a> in <a href="https://github.com/Chekseng/FashionBit" target="_blank"><u> github</u></a></p>
          </div>
      
          <div class="tags">
            <p>Node.js</p>
            <p>Sass</p>
            <p>Mongodb</p>
            <p>Express</p>
            <p>multer</p>
            <p>ejs</p>
          </div>
        </div>
      </article>

      <!-- THE NEXT.JS PROJECTS -->
      <article id="next-js" data-tab-content class="tab-content">
        <div class='country-list'>
          <div class="country-list-pic"> <img src="assets/images/countrylist-project.png" /></div>

          <div class="project-buttons">
            <a href="#">
              <button disabled>
                <span class="rtext">LIVE PROJECT</span>
                <span class="rhover">COMING SOON</span>
              </button>
            </a>
            <a href="https://github.com/Chekseng/CountryList" target="_blank"><button>VIEW CODE</button></a>
          </div>
      
          <div class="country-list-text">
            <h2>COUNTRY LIST APPLICATION</h2>
            <p>Country List is a next.js application built using the <a href="https://restcountries.eu" target="_blank" style="color: var(--primary-text-color)">restcountries.eu</a> API. It includes a table displaying about 250 countries around the world with different details about them. A filtering, searching and sorting feature for these countries according to region,name, subregion and more. Finally, a details page with detailed information about the selected country which ranges from the flag, location,population,languages,gini and much more...
            <br />
            More features include ...
            </p>

            <ul>
              <li>Next.js</li>
              <li>Css Modules</li>
              <li>Rest Countries API</li>
              <li>GetStaticProps</li>
              <li>GetStaticPaths</li>
              <li>GetServerSideProps</li>
              <li>Item(country) Sort and Filter</li>
            </ul>

            <p>To get the full detail of this project then check the <a href="https://github.com/Chekseng/CountryList#readme" target="_blank"><u>Read Me File</u></a> in <a href="https://github.com/Chekseng/CountryList" target="_blank"><u> github</u></a></p>
          </div>
      
          <div class="tags">
            <p>Next.js</p>
            <p>Css Modules</p>
            <p>RestCountries API</p>
            <p>Search Function</p>
            <p>Filtering</p>
            <p>Sorting</p>
          </div>
        </div>
      </article>

      <!-- THE VUE.JS PROJECTS -->
      <!-- <article id="vue-js" data-tab-content class="tab-content">
        <div class='movie-lab'>
          <div class="movie-lab-pic"> <img src="assets/images/movie-lab-project.png" /></div>

          <div class="project-buttons">
            <a href="https://movie-lab-4ic5jljzj-chekseng.vercel.app" target="_blank"><button>LIVE PROJECT</button></a>
            <a href="https://github.com/Chekseng/MovieLab" target="_blank"><button>VIEW CODE</button></a>
          </div>
      
          <div class="movie-lab-text">
            <h2>MOVIE LAB APPLICATION</h2>
            <p>Movie lab application is a movie detail app which provides users with detailed information that they search for. Fetching from the OMDB API, the user has access to a large list of movies and can get information such as the length of movie time, the cast, year of release, movie plot,movie genre, released date and so on....
              <br />
              <br />
              More Features...
            </p>
            </p>

            <ul>
              <li>Vue.js</li>
              <li>OMDB API</li>
              <li>Search Feature</li>
              <li>Sass</li>
              <li>Composition API</li>
              <li>Form Validation</li>
            </ul>

            <p>To get the full detail of this project then check the <a href="https://github.com/Chekseng/MovieLab#readme" target="_blank"><u>Read Me File</u></a> in <a href="https://github.com/Chekseng/MovieLab" target="_blank"><u> github</u></a></p>
          </div>
      
          <div class="tags">
            <p>Vue.js</p>
            <p>Sass</p>
            <p>Composition API</p>
            <p>OMDB API</p>
            <p>Search Feature</p>
          </div>
        </div>
      </article> -->

      <!-- THE DESIGN PROJECTS -->
      <article id="design" data-tab-content class="tab-content">
        <div class='foodsko'>
          <div class="foodsko-pic"> <img src="assets/images/foodsko-project.png" /></div>

          <div class="project-buttons">
            <a href="https://angry-boyd-f9e5e5.netlify.app" target="_blank"><button>LIVE PROJECT</button></a>
            <a href="https://github.com/Chekseng/Foodsko/tree/main" target="_blank"><button>VIEW CODE</button></a>
          </div>
      
          <div class="foodsko-text">
            <h2>FOODSKO RESTAURANT</h2>
            <p>A restaurant website designed to display the various services and cuisines provided by the staff and management. various features to display the menu and environment of the restaurant.</p>
          </div>
      
          <div class="tags">
            <p>Html</p>
            <p>Css</p>
            <p>Javascript</p>
            <p>Javascript Carousel</p>
          </div>
        </div>
      </article>

      <!-- THE WORDPRESS PROJECTS -->

      <article id="wordpress" data-tab-content class="tab-content">
        <div class='gobuydog'>
          <div class="gobuydog-pic"> <img src="assets/images/gobuydog-project.png" /></div>
      
          <div class="gobuydog-text">
            <h2>GOBUYDOG</h2>
            <p>An <u>ecommerce</u> wordpress that provides the service of providing numerous dog breed for adoption and purchase</p>
          </div>
      
          <div class="tags">
            <p>Wordpress</p>
            <p>Elementor Page Builder</p>
            <p>Astra Wordpress Theme</p>
            <p>Various Other Plugins</p>
          </div>
        </div>

        <div class='gobuypet'>
          <div class="gobuypet-pic"> <img src="assets/images/gobuypet-project.png" /></div>
        
          <div class="gobuypet-text">
            <h2>GOBUYPET</h2>
            <p>This is an <u>ecommerce</u> website that provide various pets ranging from dogs to cats for adoption and sell.</p>
          </div>
        
          <div class="tags">
            <p>Wordpress</p>
            <p>Elementor Page Builder</p>
            <p>Astra Wordpress Theme</p>
            <p>Various Other Plugins</p>
          </div>
        </div>
      </article>
    </div>
  </article>
</section>
