<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Font Awesome Cdnjs -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- CSS LINKS -->
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/hero/hero.css" />
  <link rel="stylesheet" href="/css/nav/nav.css" />
  <link rel="stylesheet" href="/css/about/about.css" />
  <link rel="stylesheet" href="/css/experience/experience.css" />
  <link rel="stylesheet" href="/css/portfolio/portfolio.css" />
  <link rel="stylesheet" href="/css/blog/blog.css" />
  <link rel='stylesheet' href="/css/contact/contact.css" />
  <link rel="stylesheet" href="/css/footer/footer.css" />

  <link rel="stylesheet" href="/css/challenges/challenges.css" />

  <!-- JS SCRIPTS -->
  <script src='/js/nav.js' defer></script>
  <script src="/js/portfolio-tabs.js" defer></script>

  <!-- ANIMATE ON SCROLL CDN -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <title>Archibong's Portfolio</title>
</head>