<section class="experience" id="experience">

  <h2>MY EXPERIENCE</h2>
  <h4>The Skills I have Acquired So Far.</h4>

  <article class="experience-inner" data-aos="fade-up" data-aos-duration="1500">

    <!-- DEVELOPMENT SECTION -->
    <div class="development">
      <h4><i class="fas fa-cogs"></i> Development</h4>
      
      <aside class="development-inner">
        <i class="fab fa-html5"></i>
        <i class="fab fa-css3-alt"></i>
        <i class="fab fa-python"></i>
        <i class="fab fa-sass"></i>
        <i class="fab fa-js"></i>
        <i class="fab fa-react"></i>
        <i class="fab fa-node-js"></i>
        <i class="fas fa-database"></i>
        <i class="fab fa-wordpress"></i>
        <i class="fab fa-elementor"></i>
        <i class="fab fa-vuejs"></i>
        <i class="fab fa-linux"></i>
      </aside>
    </div>

    <!-- DESIGN SECTION -->
    <div class="design">
      <h4><i class="fas fa-database"></i> Data Analysis</h4>

      <aside>
        <div>
          <i class="fas fa-chart-bar"><p>Power BI</p></i>
          <i class="fas fa-database">
            <p>Sql Databases</p>
          </i>
        </div>
        <div>
          <i class="fas fa-chart-line"><p>Jupyter Labs</p></i>
          <i class="fa fa-area-chart">
            <p>Pandas/Numpy</p>
          </i>
        </div>
      </aside>
    </div>

    <!-- TOOL SECTION -->
    <div class="tools">
      <h4><i class="fas fa-tools"></i> Tools</h4>
    
      <aside class="aside-tools">
        <ul>
          <li>Linux</li>
          <li>Git + GitHub</li>
          <li>Bash Shell Scripting</li>
          <li>Zenhub/Jira</li>
        </ul>
      </aside>
    </div>

    <!-- WORKED SECTION -->
    <div class="worked">
      <h4><i class="fas fa-building"></i> Where I Have Worked</h4>

      <aside class="worked-inner">
        <div>
          <li>
            <p>IU University Honnef</p>
            <span>Data Analyst</span>
          </li>
        
          <li>Jan 2023 - Present</li>
        </div>

        <div>
          <li>
            <p>TrafficLabel Ltd</p>
            <span>Front End Developer</span>
          </li>
        
          <li>Aug 2020 - Jan 2023</li>
        </div>

        <div>
          <li>
            <p>CodeUpset Ltd</p>
            <span>FrontEnd Web Developer</span>
          </li>
        
          <li>Jan 2019 - Aug 2020</li>
        </div>

      </aside>
    </div>
  </article>

  <article class="experience-resume">
    <div class="resume-btn">
      <a href="/assets/files/Utibeabasi_Archibong_-_Data_Analyst_&_Software_Developer.pdf" download><button>Download Resume</button></a>
      <a href="/assets/files/Utibeabasi_Archibong_-_Data_Analyst_&_Software_Developer.pdf" target="_blank"><button>View Resume</button></a>
    </div>
  </article>
</section>
