<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS STYLE SHEET -->
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/blog/third-blog/third-blog.css" />


  <title>Archibong | Third-blog</title>
</head>
<body>
  
  <main class="main-blog-section">
  
    <article class="main-blog-inner">
  
      <div class="main-blog-banner third-blog">
        <h2>Tips On Improving Web Design</h2>
      </div>
  
      <div class="main-blog-text third-blog">
  
        <p>
          The functionality of a website is just as important as the design, and this is why web designers are always looking for
          ways to combine function with style. Listed below are valuable web design tips for creating functional, high-quality
          websites that are visually appealing and keep visitors coming back again and again.
        </p>

        <h3>1. Focus on the website user’s needs</h3>
        <br />

        <img src="/assets/images/blog/user-needs.jpg" alt="user-needs" width="40%" />

        <br />
        <br />

        <p>Nothing is more frustrating for a website visitor than a website that doesn’t fulfill their expectations. Therefor, it
        is important to view your site from the visitor’s perspective when coming up with a design. Accessibility, user
        experience, and user interaction are the most important factors to consider. Perform tests on your new site regularly to
        ensure that it is easy for your visitors to find what they need.</p>

        <h3>2. Program using CSS</h3>
          <br />
        <img src="/assets/images/blog/program-css.png" width="40%" alt="program-css" />
        <br />
        <br />

        <p>CSS websites are increasing in popularity because they offer better accessibility and file sizes are considerably
        smaller compared to table-based websites. CSS allows greater control over the look of your website and is widely-used by
        today’s web developers.</p>

        <h3>3. Use a clear, simple navigation</h3>
          <br />
        <img src="/assets/images/blog/blog-nav.png" alt="blog-nav" width="80%"/>
        <br />
        <br />

        <p>Website navigation plays a large role in determining the “stickiness” of your website (how long visitors stay and
        explore your site). The navigational structure of your website should be consistent and easily accessible for an optimal
        user experience. A well-designed website navigation should also be able to accommodate additional links in the future as
        updates and additions to the site occur.</p>

        <h3>4. Choose a clean, consistent layout design</h3>

        <p>The layout of your website should keep the user’s focus on your content. A clean website layout that consists of a lot
        of white space enhances a site’s look and readability.</p>

        <h3>5. Design for all screen resolutions</h3>
          <br />
        <img src="/assets/images/blog/responsive-website.png" alt="responsive-website" width="60%" />
        <br />
        <br />

        <p>A site that is user-friendly encourages visitors to stay. For sites with long pages of content, this is essential. If
        your site doesn’t display well due to the visitor’s screen resolution, it is likely that the visitor will leave.
        Designing stretch layouts that fit any screen resolution ensures that all visitors encounter a visually appealing site.</p>

        <h3>6. Ensure that the website is cross-browser compatible</h3>

        <p>A website that displays properly in one browser may not display properly in another browser. Check your website in all
        of the most frequently used browsers, including Internet Explorer, Mozilla Firefox, Opera, Google Chrome, Safari, and
        Netscape to ensure that it displays properly.</p>

        <h3>7. Optimize load time</h3>

        <p>Make sure your website’s load time is within an acceptable range and test your site’s performance often. To achieve an
        optimal load time, it is important to:
        
        <p>1. Minimize graphics, flash and scripts. These features increase file size, thus increasing the site’s load time.</p>

        <p>2. Condense JavaScript and CSS code – remove spaces, comments and line breaks from JavaScript and CSS files.</p>
        
        <p>3. Optimize HTML and script code: Ensure that your site doesn’t have any unwanted tags or unused scripts.
        Use Server Side Include (SSI) files whenever possible. Once called, includes from the web server reside in the cache so
        they load faster on subsequent requests.</p>
        </p>

        <h3>8. Create web pages that are easy to scan</h3>

        <p>Web pages that are easy to read play an important role in maintaining visitors’ interest, keeping them on your site and
        reading your content. The majority of users don’t read web pages, they scan them looking for titles, bold, emphasized
        text, or lists, so keep this in mind when creating web pages.</p>

        <h3>9. Test early and often</h3>

        <p>One of the most important website tips is to perform usability and user interaction tests during the design phase of
        your website, as well as after the website is complete. Make sure that you continue testing and improving your website
        as it grows.
        
        Use this web design advice to create a functional, useful, attractive website that makes visitors want to stick around
        and keeps them coming back for more. If you view your website from the visitor’s perspective and design it accordingly,
        you will create a website that combines function with style.</p>
        
        <h4>Thank You for your time!!</h4>
        
      </div>
    </article>
  </main>
</body>
</html>