<!-- THIS IS THE TEMPLATE FOR THE BLOG SECTION -->

<section id="blog">

  <h2>BLOG</h2>
  <h4>HERE ARE SOME OF MY BLOG ARTICLES</h4>

  <article class="blog-inner" data-aos="fade-down" data-aos-duration="1500">
  <a href="/blog/how-to-use-coingecko-api">
    <aside class="blog-article">
      <div class="blog-article-image first-blog"></div>
      <p><span>Author: <i class="fas fa-user"></i> Admin</span>
        <span>Date: 5th May 2021</span>
      </p>
      <h3>How To Use The Coingecko Api</h3>
      <p><b>Description:</b> Learn how to use the coingecko api to build a demo react app that prints out the name,symbol,current price,total volume and total supply of the desired cryptocurrency you wish to track.</p>
    </aside>
  </a>

  <a href="/blog/tips-on-solving-coding-challenges">
    <aside class="blog-article">
      <div class="blog-article-image second-blog"></div>
      <p><span>Author: <i class="fas fa-user"></i> Admin</span>
        <span>Date: 10th April 2021</span>
      </p>
      <h3>Tips On Solving Coding Challenges</h3>
      <p><b>Description:</b> Using 4 main steps, devise a plan and solve any coding challenge regardless of the level of difficulty. This is a guarantee to acing any coding challenge you face.</p>
    </aside>
  </a>

  <a href="/blog/tips-on-improving-web-design">
    <aside class="blog-article">
      <div class="blog-article-image third-blog"></div>
      <p><span>Author: <i class="fas fa-user"></i> Admin</span>
        <span>Date: 1st May 2021</span>
      </p>
      <h3>Tips On Improving Web Design</h3>
      <p><b>Description:</b> If you are tired of having poorly designed web pages that make your website look horrible. Check out these few steps that will enhance you web design skills and have you building beautiful web pages henceforth.</p>
    </aside>
  </a>
  </article>
</section>