<section id="challenges">

  <h2>ALGORITHM CHALLENGES</h2>
  <h4>HERE ARE SOME GRAPHIC USER INTERFACES FOR BASIC ALGORITHM CHALLENGES</h4>

  <article class="challenges-inner" data-aos="fade-down" data-aos-duration="1500">

    <div class="repeat-string">
      <a href="/challenges/insertion-sort">
        <h4>INSERTION SORT</h4>
      </a>
    </div>

    <div class="title-case">
      <a href="/challenges/selection-sort">
        <h4>SELECTION SORT</h4>
      </a>
    </div>

    <div class="palindrome">
      <a href="/challenges/palindrome"><h4>PALINDROME</h4></a>
    </div>

    <div class="anagram">
      <a href="/challenges/anagram"><h4>ANAGRAM</h4></a>
    </div>

    <div class="fizzbuzz">
      <a href="/challenges/fizzbuzz">
        <h4>FIZZBUZZ</h4>
      </a>
    </div>

    <div class="longest-word">
      <a href="/challenges/bubble-sort"><h4>BUBBLE SORT</h4></a>
    </div>
  </article>
</section>