<footer id="footer">
  <div class="footer-icons">
    <i class="fab fa-facebook"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-linkedin"></i>
    <i class="fab fa-github"></i>
    <i class="fab fa-codepen"></i>
    <i class="fas fa-envelope"></i>
    <i class="fab fa-twitter"></i>
  </div>

  <p>Designed & Built by Utibeabasi Archibong</p>

  <span id="footer-year">&copy; Archibong 
    <span><script>
      document.getElementById('footer-year').textContent = new Date().getFullYear();
      </script></span>
  </span>
</footer>