<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- STYLING SHEET -->
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/challenges/anagram/anagram.css" />

  <!-- JAVASCRIPT LINKS -->
  <script src="/js/challenges/anagram.js" defer></script>

  <title>Archibong | <%- title %>
  </title>
</head>
<body>
  
  <section class="anagram-challenge-section">

    <article class="anagram-challenge-inner">
      <div class="anagram-description">
        <h2>ANAGRAM</h2>
        <h4>An anagram is a word or phrase formed by rearranging the letters of a different word or phrase, typically using all the
        original letters exactly once. For example, the word <u>anagram</u> itself can be rearranged into <u>nag a ram</u>, also the word
        <u>binary</u> into <u>brainy</u> and the word <u>adobe</u> into <u>abode</u>.</h4>
      
        <h4>Enter A Word Or Phrase:</h4>
      </div>

      <div class="anagram-inputs">
        
        <input type="text" class="anagram-input-one" maxlength="40" required placeholder="enter first word e.g meat" />
        <input type="text" class="anagram-input-two" maxlength="40" required placeholder="enter second word e.g team"/>
      </div>

      <div class="anagram-buttons">
        <button class="anagram-submit" type="button">Submit</button>
      </div>

      <div class="anagram-output">
        
      </div>
    </article>
  </section>
</body>
</html>