<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- STYLING SHEET -->
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/challenges/fizzbuzz/fizzbuzz.css" />

  <!-- JAVASCRIPT LINKS -->
  <script src="/js/challenges/fizzbuzz.js" defer></script>

  <title>Archibong | <%- title %>
  </title>
</head>
<body>

  <section class="fizzbuzz-challenge-section">
    
    <article class="fizzbuzz-challenge-inner">
      
      <div class="description">
        <h2>FIZZBUZZ</h2>
        <h4>Fizzbuzz is a group word game for children to teach them about division. Players take turns to count incrementally,
        replacing any number divisible by three with the word "fizz", and any number divisible by five with the word "buzz" and any number divisible by both 3 and 5 with the word 'fizzbuzz'.</h4>

        <h4>Enter A Number Between 0 and 100:</h4>
      </div>

      <div class="form-inputs">
        <input type="text" class="inputtedText" placeholder="enter number between 0 - 100">
      </div>

      <div class="form-buttons">
        <button class="submitText" type="button">Submit</button>
        <button class="clearText" type="button">Clear</button>
      </div>

      <div class="output">
        <div class="error-one"></div>
        <div class="error-two"></div>
        <div class="fizzbuzz-result"></div>
      </div>
    </article>
  </section>
</body>
</html>