<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- STYLING SHEET -->
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/challenges/longest-word/longest-word.css" />

  <!-- JAVASCRIPT LINKS -->
  <script src="/js/challenges/longest-word.js" defer></script>

  <title>Archibong | <%- title %>
  </title>
</head>
<body>
  
  <section class="longest-word-section">

    <article class="longest-word-inner">

      <div class="longest-word-description">
        <h2>LONGEST WORD</h2>
        <h4>This Challenge is aimed at taking a sentence and returning the word with the largest length.</h4>
      
        <h4>Enter A Sentence:</h4>
      </div>
      
      <div class="longest-word-inputs">
        <input type="text" class="longest-word-input" required maxlength="45" placeholder="enter a sentence" />
      </div>
      
      <div class="longest-word-button">
        <button class='title-case-btn' type="button">Submit</button>
      </div>
      
      <div class="longest-word-output">
      
      </div>
    </article>
  </section>
</body>
</html>