<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- STYLING SHEET -->
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/challenges/palindrome/palindrome.css" />

  <!-- JAVASCRIPT LINKS -->
  <script src="/js/challenges/palindrome.js" defer></script>

  <title>Archibong | <%- title %>
  </title>
</head>
<body>
  
  <section class="palindrome-challenge-section">

    <article class="palindrome-challenge-inner">

      <div class="palindrome-description">
        <h2>PALINDROME</h2>
        <h4>A palindrome is a word, number, phrase, or other sequence of characters which reads the same backward as forward, such
        as madam or racecar.</h4>

        <h4>Enter A Word Or Phrase:</h4>
      </div>

      <div class="palindrome-input-container">
        <input type="text" class="palindrome-input" maxlength="40" placeholder="max character is 40" required />
      </div>

      <div class="palindrome-buttons">
        <button class="palindrome-submit-btn">Submit</button>
      </div>

      <div class="palindrome-output">

      </div>
    </article>
  </section>
</body>
</html>