<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- STYLING SHEET -->
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/challenges/repeat-string/repeat-string.css" />

  <!-- JAVASCRIPT LINKS -->
  <script src="/js/challenges/repeat-string.js" defer></script>

  <title>Archibong | <%- title %>
  </title>
</head>
<body>
  
  <section class="repeat-string-section">

    <article class="repeat-string-inner">

      <div class="repeat-string-description">
        <h2>REPEAT STRING</h2>
        <h4>This Challenge is aimed at taking a word/phrase and a number and printing out the word/phrase for the specified number of times.</h4>
      
        <h4>Enter A String And A Number:</h4>
      </div>

      <div class="repeat-string-inputs">
      
        <input type="text" class="repeat-string-input-one" maxlength="45" required placeholder="enter a string e.g 'string' " />
        <input type="number" class="repeat-string-input-two" maxlength="40" required placeholder="enter a number between 0 - 9" />
      </div>
      
      <div class="repeat-string-buttons">
        <button class="repeat-string-submit" type="button">Submit</button>
      </div>
      
      <div class="repeat-string-output">
      
      </div>
    </article>
  </section>
</body>
</html>