<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- STYLING SHEET -->
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/challenges/title-case/title-case.css" />

  <!-- JAVASCRIPT LINKS -->
  <script src="/js/challenges/title-case.js" defer></script>

  <title>Archibong | <%- title %>
  </title>
</head>
<body>
  
  <section class="title-case-section">

    <article class="title-case-inner">

      <div class="title-case-description">
        <h2>TITLE CASE</h2>
        <h4>This Challenge is aimed at taking an input(a sentence) and capitalizing the first characters of each word.</h4>
      
        <h4>Enter A Word Or Phrase:</h4>
      </div>

      <div class="title-case-inputs">
        <input type="text" class="title-case-input" required maxlength="45" />
      </div>

      <div class="title-case-button">
        <button class='title-case-btn' type="button">Submit</button>
      </div>

      <div class="title-case-output">

      </div>

    </article>
  </section>
</body>
</html>