// THE STYLING SHEET FOR THE TITLE CASE CHALLENGE TEMPLATE
body {
  background-color: var(--quatenary-bg);
}

.title-case-section {
  display: grid;
  grid-template-columns: 60%;
  justify-content: center;
  align-items: center;

  .title-case-inner {
    padding: 170px 0;

    .title-case-description {
      color: var(--secondary-text-color);
      text-align: center;
      > h2 {
        font-size: 30px;
      }

      > h4 {
        padding-top: 10px;
        font-size: 18px;
        font-family: "Rubik", sans-serif;
        font-weight: 400;
      }

      > h4:last-child {
        font-size: 20px;
        color: var(--primary-text-color);
        font-weight: bold;
      }
    }

    .title-case-inputs {
      display: grid;
      grid-template-columns: 60%;
      justify-content: center;
      align-items: center;
      padding-top: 10px;

      @media screen and (max-width: 1000px) {
        grid-template-columns: 80%;
      }

      input {
        padding: 17px 10px;
        background-color: var(--primary-text-color);
        border: 1px solid var(--primary-text-color);
        color: var(--secondary-text-color);
        font-size: 17px;
      }

      input::placeholder {
        color: var(--quatenary-text-color);
      }
    }

    .title-case-button {
      text-align: center;
      padding-top: 10px;

      button {
        background-color: var(--primary-text-color);
        padding: 13px 25px;
        border: 1px solid var(--primary-text-color);
        color: var(--secondary-text-color);
        font-size: 17px;
        cursor: pointer;
      }

      button:hover {
        background-color: green;
        border: 1px solid green;
      }
    }

    .title-case-output {
      color: var(--secondary-text-color);
      text-align: center;
      padding-top: 20px;
      font-size: 20px;
      font-family: "Rubik", sans-serif;
      color: var(--primary-text-color);
    }
  }
}
