<nav class="navbar">
  
  <div class="nav-logo">
    <a href="/">
      <span>Archibong</span>
    </a>
  </div>

  <div class="nav-menu">
    <ul>
      <li class="about active"><a href="#about">About</a></li>
      <li class="experience"><a href="#experience">Experience</a></li>
      <li class="portfolio"><a href="#portfolio">Portfolio</a></li>
      <!-- <li class="challenges"><a href="#challenges">Challenges</a></li>
      <li class="blog"><a href="#blog">Blog</a></li> -->
      <li class="contact"><a href="#contact">Contact</a></li>
    </ul>
  </div>

  <div class="nav-toggle">
    <i class="fas fa-bars"></i>
  </div>
</nav>