<!-- THIS IS THE ABOUT SECTION TEMPLATE -->

<section class="about" id="about">

  <!-- THE ABOUT INNER SECTION -->
  <div class="about-inner">
    <article class="about-image" data-aos="fade-down" data-aos-duration="1500">
      <div></div>
    </article>
    
    <article class="about-text" data-aos="fade-down" data-aos-duration="1500">
      <h3>Hi, I'm Archibong</h3>
      <h4>I'm a Data Analyst</h4>
    
      <p>Hey, My name is Utibeabasi Archibong and I am a Passionate and experienced Data analyst with over 3 years of experience in software development.  I enjoy working with all kinds of data sets and building things for the web. As an analyst my goal is to bring out hidden insights in data and make different data sets well optimized, scalable and efficient for various use cases.
</p>
    </article>
  </div>

  <!-- THE ABOUT INFO SECTION -->
  <div class="about-info" data-aos="fade-down" data-aos-duration="1500">
    <h3 class="heading">What I Do</h3>
    <h4 class="sub-heading">Some Of The Things I Specialize In</h4>

    <article class="about-info-inner">
      
      <div class="info-item">
        <aside class="info-item">
          <i class="fas fa-circle"></i>
          <i class="fas fa-database"></i>
        </aside>
      
        <h4>Data Analysis/Business Intelligence</h4>
        <p>With examination and interpretation of complex data sets to help organizations make informed decisions.Collecttion, cleaning, and analyzing data using statistical techniques and tools, presenting findings through reports and visualizations.</p>
      </div>

      <div class="info-item">
        <aside class="info-item">
          <i class="fas fa-circle"></i>
          <i class="fas fa-laptop-code"></i>
        </aside>

        <h4>Web Development</h4>
        <p>Using HTML, CSS, and JavaScript with pre-processors and build tools such as Sass and Grunt, I have a passion for
        developing pixel-perfect websites and apps while maintaining a semantic, modular, and DRY code base.</p>
      </div>

      <div class="info-item">
        <aside class="info-item">
          <i class="fas fa-circle"></i>
          <i class="fas fa-calendar-day"></i>
        </aside>
      
        <h4>Fast Experienced Design</h4>
        <p>Ease of access is top priority. Living in a microwave society with users who want interaction at the click of a button is the reason i use optimized techniques and code to accomplish this task.</p>
      </div>

      <div class="info-item">
        <aside class="info-item">
          <i class="fas fa-circle"></i>
          <i class="fas fa-globe"></i>
        </aside>
      
        <h4>Diversity In Tech</h4>
        <p>With the wide range of devices running on different technologies around the world. It is important to use this multiple technologies during development to reach a wide range of users worldwide and satisfy the diverse platforms they share.</p>
      </div>

    </article>
  </div>
</section>